/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 2rem;
}

p {
    color: #6c757d;
    font-size: 1.1rem;
}

.card {
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

footer {
    background-color: #f8f9fa; /* Color de fondo */
    border-top: 1px solid #e9ecef; /* Borde superior */
    padding: 20px 0; /* Espaciado superior e inferior */
}

footer img {
    filter: grayscale(100%); /* Filtro de escala de grises */
}

footer img:hover {
    filter: none; /* Sin filtro al pasar el ratón */
}

footer ul {
    list-style-type: none; /* Elimina el marcador de la lista */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
}

footer ul li {
    margin: 10px 0; /* Espacio entre los elementos de la lista */
}

footer ul li a {
    color: #787373 !important; /* Color de texto inicial (más claro que el negro) */
    text-decoration: none; /* Elimina el subrayado */
    transition: background-color 0.3s ease, color 0.3s ease !important; /* Suaviza la transición */
    padding: 5px 10px; /* Espaciado para mejorar la interacción */
}

footer ul li a:hover {
    background-color: #f4f3f3 !important; /* Color de fondo al pasar el ratón */
    color: #1d1b1b !important; /* Color de texto más oscuro al pasar el ratón */
}

footer p{
    color: #1d1b1b !important;
}

header {
    background-image: url('/static/images/logo_fondo.png'); /* Ruta absoluta desde la raíz */
    background-size: cover; /* Cubre todo el header */
    background-position: center; /* Centra la imagen */
}


/* Media Queries */
@media (max-width: 768px) {
    header {
        height: 30vh; /* Menos alto en pantallas más pequeñas */
    }
}

@media (min-width: 769px) {
    header {
        height: 35vh; /* Aumenta la altura en pantallas más grandes */
    }
}
